{% extends "layout.html" %}

{%block content %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="media content-section">
                <div class="media-body">
                    <h2>Covid19 Store Hours Bulk Update</h2>
                    <p>Let's you update the store hours easily by using a simpler CSV file. Upload the CSV file with
                        three columns and enter the sftp details of the cloud. This script will change the file into
                        compatible format and upload it to the cloud.</p>
                    <p>Sample file content:</p>
                    <p>StoreID,Store-Closure-End-Date,Store-Closure-End-Date<br>223,2020-01-13,202-03-14
                        <br>225,2020-01-20,202-03-30 </p>
                    <br>
                    <form class="form-horizontal" method="POST" action="">
                        {{ form.hidden_tag()}}
                        <fieldset>

                            <!-- Appended Input-->
                            <div class="form-group">
                                <label class="col-md-6 control-label font-weight-bold"
                                    for="appendedtext">Sub-domain</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input id="appendedtext" name="appendedtext" class="form-control"
                                            placeholder="sub-domain" type="text" required="">
                                        <span class="input-group-text">.cloud.retailnext.net</span>
                                    </div>
                                    <p class="help-block">Only use customer's unique sub-domain</p>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-6 control-label" for="sftp-username">sFTP
                                    Username</label>
                                <div class="col-md-6">
                                    <input id="sftp-username" name="sftp-username" type="text" placeholder=""
                                        class="form-control input-md" required="">
                                    <span class="help-block">Available in cloud Admin &gt; File Upload
                                        Access</span>
                                </div>
                            </div>

                            <!-- Password input-->
                            <div class="form-group">
                                <label class="col-md-6 control-label" for="sftp-password">sFTP
                                    Password</label>
                                <div class="col-md-6">
                                    <input id="sftp-password" name="sftp-password" type="password" placeholder=""
                                        class="form-control input-md" required="">
                                    <span class="help-block">Available in cloud Admin &gt; File Upload
                                        Access</span>
                                </div>
                            </div>

                            <!-- File Button -->
                            <div class="form-group">
                                <label class="col-md-6 control-label" for="csv-file">Select CSV File</label>
                                <div class="col-md-6">
                                    <input id="csv-file" name="csv-file" class="input-file" type="file">
                                </div>
                            </div>

                            <!-- Button (Double) -->
                            <div class="form-group">
                                <label class="col-md-6 control-label" for="submit"></label>
                                <div class="col-md-6">
                                    <button id="submit" name="submit" class="btn btn-success">Upload
                                        File</button>
                                    <button id="clear" name="clear" class="btn btn-danger">Clear</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Tiny Experiments</h3>
                <p class='text-muted'>Most of these should be live.
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light"><a href="/retailnext">RetailNext</a></li>
                        <li class="list-group-item list-group-item-light"><a href="#">Distance Finder</a>
                        </li>
                        <li class="list-group-item list-group-item-light"><a href="#">Api</a></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</main>

{%endblock content %}