{% extends "layout.html" %}

{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {%- for category,message in messages %}
            <div class="alert alert-{{category}} mt-4">
                {{ message }}
            </div>
            {% endfor -%}
            {% endif %}
            {% endwith %}
            <div class="media content-section">
                <div class="media-body">
                    <h2>Covid19 Store Hours Bulk Update</h2>
                    <p>Let's you update the store hours easily by using a simpler CSV file. Upload the CSV file with
                        three columns and enter the sftp details of the cloud. This script will change the file into
                        compatible format and upload it to the cloud.</p>
                    <p>Sample file content:</p>
                    <p>StoreID,Closure-Start-Date,Closure-End-Date<br>223,2020-01-13,202-03-14
                        <br>225,2020-01-20,202-03-30 </p>
                    <br>

                    <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <fieldset>
                            <div class="form-group">
                                <div class="col-md-6">
                                    {{form.cloudurl.label}}
                                    {{form.cloudurl(class="form-control")}}
                                    {{form.sftpusername.label}}
                                    {{form.sftpusername(class="form-control input-md")}}
                                    {{form.sftppassword.label}}
                                    {{form.sftppassword(class="form-control input-md")}}
                                    {{form.csvfile(class="input-file mt-4")}}
                                    <input type="Submit" value="Upload File" class="btn btn-success float-right">
                                </div>
                        </fieldset>

                    </form>
                    <p>Note:</p>
                    <ul>
                        <li>Make sure you are using Store Hours sFTP credentials, that are different from POS sFTP</li>
                        <li>Store Hours file configuration should be set to Skip Header Line </li>
                        <li>Date Format should be set to yyyy-mm-dd</li>
                        <li>Other default options remain unchanged. Encoding is UTF-8 and Delimiter is ' , ' (comma)
                        </li>
                        <li>For cloud sub-domain, only use unique customer name that comes before
                            '.cloud.retailnext.net'</li>
                        <li>Include a header line in your file. First line will be skipped.</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Tiny Experiments</h3>
                <p class='text-muted'>...
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light"><a
                                href="{{url_for('retailnext')}}">RetailNext</a></li>
                        <li class="list-group-item list-group-item-light"><a href="#">Distance Finder</a>
                        </li>
                        <li class="list-group-item list-group-item-light"><a href="#">Api</a></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</main>

{%endblock content %}